<section class="info">
  <h1 class="glow">PizzaMe</h1>
  <p class="tagline">
    a Discord bot for ordering Domino's
  </p>
  <p class="highlight">
    <i class="fas fa-check"></i> extremely easy to use
  </p>
  <p class="highlight">
    <i class="fas fa-check"></i> no extra charge
  </p>
</section>

<section class="call-to-action">
  <p>
    get pizza now
  </p>
  <a href='' class="button glow">add to my server <i class="fas fa-arrow-right"></i></a>
  <p class='disclaimer'>
    we take your privacy very seriously and will <b>never</b> store chat history
  </p>
</section>
