<div class="info">
  <h1 class="glow">Link with Domino's</h1>
  <p class="disclaimer">
    your credentials are securely encrypted and will <b>never</b> leave the platform
  </p>
</div>

<form class="link-form" method="post" action="/link/{{linkToken}}">
  <div class="glow">
    {{#if failed}}
      {{failed}}
    {{/if}}
    {{#if succeeded}}
      {{succeeded}}
    {{/if}}
    <img src="/images/domino.svg" />
    <input type="email" placeholder="email" name="email"/>
    <input type="password" placeholder="password" name="password"/>
  </div>
  <input type="submit" value="link account" class="glow button"/>
</form>
